@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/* Reset default browser styles */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }
  html{
	scroll-behavior: smooth;
  }
  
  /* Set font and color styles */
  body {
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	background-color: #f2f2f2;
  }
  
  /* Style the navbar */
  nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	background-color: #fff;
	border-radius: 20;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-logo {
	margin-left: 50px;
	font-size: 1.5rem;
	font-weight: bold;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.2);
	transition: all 0.3s ease;
	
  }
  .navbar-logo:hover {
	box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  }
  
  
  .navbar-links {
	list-style: none;
	display: flex;
	margin-right: 30px;
  }
  
  .navbar-links li {
	margin-left: 1rem;
	margin-right: 10px;
  }
  
  .navbar-links li a {
	background-color: #c2fbd7;
	border-radius: 100px;
	box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
	color: green;
	cursor: pointer;
	display: inline-block;
	font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
	padding: 7px 20px;
	text-align: center;
	text-decoration: none;
	transition: all 250ms;
	border: 0;
	font-size: 16px;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
  }
  
  .navbar-links li a:hover {
	box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
	transform: scale(1.05) rotate(-4deg);
  }
  
  /* Style the Home section */
  .home-section {
	margin-top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 80px);
  }
  
  .home-left {
	flex-basis: 50%;
	padding: 2rem;
  }
  
  .home-left h1 {
	font-size: 3rem;
	margin-bottom: 1rem;
  }
  
  .home-left p {
	margin-bottom: 2rem;
	font-family: Comic Sans MS;
  }
  
  .home-left button {
	min-width: 300px;
	min-height: 60px;
	font-family: 'Nunito', sans-serif;
	font-size: 22px;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	font-weight: 700;
	color: #313133;
	background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
	border: none;
	border-radius: 1000px;
	box-shadow: 12px 12px 24px rgba(79,209,197,.64);
	transition: all 0.3s ease-in-out 0s;
	cursor: pointer;
	outline: none;
	position: relative;
	padding: 10px;
  }
  
  .home-left button::before {
	content: '';
	  border-radius: 1000px;
	  min-width: calc(300px + 12px);
	  min-height: calc(60px + 12px);
	  border: 6px solid #00FFCB;
	  box-shadow: 0 0 60px rgba(0,255,203,.64);
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  opacity: 0;
	  transition: all .3s ease-in-out 0s;
	}
	
	.home-left button:hover, .button:focus {
	  color: #313133;
	  transform: translateY(-6px);
	}
	
	.home-left button:hover::before, .home-left button:focus::before {
	  opacity: 1;
	}
	
	.home-left button::after {
	  content: '';
	  width: 30px; height: 30px;
	  border-radius: 100%;
	  border: 6px solid #00FFCB;
	  position: absolute;
	  z-index: -1;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  animation: ring 1.5s infinite;
	}
	
	.home-left button:hover::after, .home-left button:focus::after {
	  animation: none;
	  display: none;
	}
	
	@keyframes ring {
	  0% {
		width: 30px;
		height: 30px;
		opacity: 1;
	  }
	  100% {
		width: 300px;
		height: 300px;
		opacity: 0;
	  }
	}
  
  .home-right {
	flex-basis: 50%;
	overflow: hidden;
  }
  
  .home-right img {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  
  /* Style the Prediction section */
  .prediction-section {
	max-width: 70%;
	display: flex;
	margin-left: 0;
	justify-content: center;
	align-items: center;
	height: calc(115vh - 80px);
	background-color: #f2f2f2;
  }
  .prediction-section:hover .container h2 {
	color: #ff8c00;
	transition: all 0.5s ease-in-out;
  }
  
  .prediction-section:hover .container p {
	color: #333;
	transition: all 0.5s ease-in-out;
  }
  .button-30 {
	align-items: center;
	appearance: none;
	background-color: #FCFCFD;
	border-radius: 4px;
	border-width: 0;
	box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
	box-sizing: border-box;
	color: #36395A;
	cursor: pointer;
	display: inline-flex;
	font-family: "JetBrains Mono",monospace;
	height: 48px;
	justify-content: center;
	line-height: 1;
	list-style: none;
	overflow: hidden;
	padding-left: 16px;
	padding-right: 16px;
	position: relative;
	text-align: left;
	text-decoration: none;
	transition: box-shadow .15s,transform .15s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: nowrap;
	will-change: box-shadow,transform;
	font-size: 18px;
  }
  
  .button-30:focus {
	box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  .button-30:hover {
	box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
	transform: translateY(-2px);
  }
  
  .button-30:active {
	box-shadow: #D6D6E7 0 3px 7px inset;
	transform: translateY(2px);
  }
  
  /* Why Section */
  
  .why-section {
	background-color: #f8f8f8;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100vh;
  }
  
  .why-left {
	width: 50%;
	padding: 50px;
  }
  
  .why-right {
	width: 50%;
  }
  
  .why-left h2 {
	font-size: 3rem;
	font-weight: 700;
	color: #333;
	margin-bottom: 20px;
  }
  
  .why-left p {
	font-size: 1.2rem;
	line-height: 1.6;
	color: #666;
	margin-bottom: 30px;
  }
  
  .why-right img {
	width: 100%;
	height: auto;
	
  }
  
  /* Hover Effects */
  
  .why-section:hover .why-left h2 {
	color: #ff8c00;
	transition: all 0.5s ease-in-out;
  }
  
  .why-section:hover .why-left p {
	color: #333;
	transition: all 0.5s ease-in-out;
  }
  
  /* About Section */
  
  .about-section {
	background-color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100vh;
  }
  
  .about-left {
	width: 50%;
	padding: 50px;
  }
  
  .about-right {
	width: 50%;
  }
  
  .about-left h2 {
	font-size: 3rem;
	font-weight: 700;
	color: #333;
	margin-bottom: 20px;
  }
  
  .about-left p {
	font-size: 1.2rem;
	line-height: 1.6;
	color: #666;
	margin-bottom: 30px;
  }
  
  .about-right img {
	width: 100%;
	height: auto;
  }
  
  /* Hover Effects */
  
  .about-section:hover .about-left h2 {
	color: #ff8c00;
	transition: all 0.5s ease-in-out;
  }
  
  .about-section:hover .about-left p {
	color: #333;
	transition: all 0.5s ease-in-out;
  }
  
  /* Contact Section */
  
  .contact-section {
	background-color: #f8f8f8;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100vh;
  }
  
  .contact-left {
	max-width: 50%;
	padding: 50px;
  }
  
  .contact-right {
	width: 50%;
  }
  
  .contact-left h2 {
	font-size: 3rem;
	font-weight: 700;
	color: #333;
	margin-bottom: 20px;
  }
  
  .contact-left p {
	font-size: 1.2rem;
	line-height: 1.6;
	color: #666;
	margin-bottom: 30px;
  }
  
  .contact-right {
	flex: 1;
	max-width: 40%;
	margin-right: 20px;
	padding: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	border-radius: 10px;
  }
  
  .contact-right input,
  .contact-right textarea {
	padding: 1rem;
	margin-bottom: 1rem;
	width: 100%;
	border: none;
	border-radius: 5px;
	background-color: #fff;
	color: #333;
	font-size: 1.2rem;
  }
  
  .contact-right input[type="submit"] {
	background-color: #333;
	color: #fff;
	border-radius: 5px;
	padding: 1rem 2rem;
	cursor: pointer;
	font-size: 1.2rem;
	transition: background-color 0.3s ease-in-out;
  }
  
  .contact-right input[type="submit"]:hover {
	background-color: #666;
  }
  
  .contact-right textarea {
	height: 10rem;
  }
  .button-89 {
	--b: 3px;   /* border thickness */
	--s: .45em; /* size of the corner */
	--color: #373B44;
	
	padding: calc(.5em + var(--s)) calc(.9em + var(--s));
	color: var(--color);
	--_p: var(--s);
	background:
	  conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
	  var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
	transition: .3s linear, color 0s, background-color 0s;
	outline: var(--b) solid #0000;
	outline-offset: .6em;
	font-size: 16px;
  
	border: 0;
  
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
  }
  
  
  /* Footer */
  footer {
	background-color: #f2f2f2;
	color: #666;
	text-align: center;
	padding: 10px;
	position: fixed;
	bottom: 0;
	width: 100%;
  }
  
  footer a {
	color: #666;
  }
  
  footer a:hover {
	color: #000;
  }
  
  
  
  