<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
<body>
    <!-- Navbar -->
    <nav>
      <div class="navbar-logo">Customer Propensity API</div>
      <ul class="navbar-links">
        <li><a href="#home-section">Home</a></li>
        <li><a href="#about-section">About</a></li>
        <li><a href="#why-section">Why</a></li>
        <li><a href="#predict">Predict</a></li>
      </ul>
    </nav>

    <!-- Home Section -->
    <section class="home-section" id="home-section">
      <div class="home-left">
        <h1> Hey ! </h1><h1>Welcome 🙏...</h1>
        <p>This a website to Predict Customer Propensity to Buy Banking Products Using a Flask API and Ml model on different financial assests and datasets.</p>
        <a href="#predict"><button>Let's Predict</button></a>
      </div>
      <div class="home-right">
        <img src="{{ url_for('static', filename='images/welcome.jpg') }}" alt=" Image">

      </div>
    </section>

    <!-- Prediction Section -->
    <section class="prediction-section" id="predict">
      <div class="container">
        <h2> Customer Propensity Predictor </h2>
        <form action="{{ url_for('predict')}}" method="post">
            <table>
                <tr>
                    <td><label for="age">Age of the person:</label></td>
                    <td><input type="number" id="age" name="age" min="18" max="100"></td>
                </tr>
                <tr>
                    <td><label for="balance">Balance: Average yearly balance:</label></td>
                    <td><input type="number" id="balance" name="balance" min="-10000" max="120000"></td>
                </tr>
                <tr>
                    <td><label for="day">Day: Last contact day of the month</label></td>
                    <td><input type="number" id="day" name="day" min="1" max="31"></td>
                </tr>
                <tr>
                    <td><label for="duration">Duration: Contact duration, in seconds:</label></td>
                    <td><input type="number" id="duration" name="duration" min="80" max="650"></td>
                </tr>
                <tr>
                    <td><label for="campaign">Campaign Day:</label></td>
                    <td><input type="number" id="campaign" name="campaign" min="1" max="63"></td>
                </tr>
                <tr>
                    <td><label for="pdays">Pre-days:</label></td>
                    <td><input type="number" id="pdays" name="pdays" min="-1" max="900"></td>
                </tr>
                <tr>
                    <td><label for="previous">Previous no of Contacts :</label></td>
                    <td><input type="number" id="previous" name="previous" min="0" max="275"></td>
                </tr>
                <tr>
                    <td><label for="job">Job: Type of job</label></td>
                    <td><input type="text" id="job" name="job"></td>
                </tr>
                <tr>
                    <td><label for="marital">Marital: Marital status</label></td>
                    <td><input type="text" id="marital" name="marital"></td>
                </tr>
                <tr>
                    <td><label for="education">Education:</label></td>
                    <td><input type="text" id="education" name="education"></td>
                </tr>
                <tr>
                    <td><label for="default">Default: Has credit in default?</label></td>
                    <td><input type="text" id="default" name="default"></td>
                </tr>
                <tr>
                    <td><label for="housing">Housing: Has housing loan?</label></td>
                    <td><input type="text" id="housing" name="housing"></td>
                </tr>
                <tr>
                    <td><label for="loan">Loan: Has personal loan?</label></td>
                    <td><input type="text" id="loan" name="loan"></td>
                </tr>
                <tr>
                    <td><label for="contact">Contact: Contact communication type</label></td>
                    <td><input type="text" id="contact" name="contact"></td>
                </tr>
                <tr>
                  <td><label for="month">month: last contact month of year</label></td>
                  <td><input type="text" id="month" name="month"></td>
              </tr>
              <tr>
                <td><label for="poutcome">poutcome</label></td>
                <td><input type="text" id="poutcome" name="poutcome"></td>
            </tr>
          </table>
          <button type="submit" class="button-30">Predict</button>
        </form>
        <h3>It could take upto 30 sec to fetch the result ... Please wait </h3>
        <br>
          {% if prediction == 1%}
	      <h2 style="color:black;">Yes, Customer has Propensity to Buy products and May Subscribe in Future</h2>
	        {% elif prediction == 0%}
	      <h2 style="color:black;">No, Customer has less Propensity to Buy products and may not  Subscribe in Future</h2>
	      {% endif %}
      </div>  
    </section>

    <!-- Why Section -->
    <section class="why-section" id="why-section">
      <div class="why-left">
        <h2>Why This Website?</h2>
        <p>This is a demo website to show the working of Customer propensity API which Predicts Propensity of customer  behavior. It helps to understand if people respond to particular offers without the need to launch promotional campaigns. Also, they don’t spend a lot of money on A/B testing. Machine learning helps them understand what outcome they will get, offering a particular product.The results of forecasting the customers’ behaviors are called propensity scores.There are different types of propensity models that businesses use to create forecasts. The main differences are caused by the different types of audiences that can be targeted or problems that should be solved.</p>
      </div>
      <div class="why-right">
        <!-- Why Image -->
        <img src="{{ url_for('static', filename='images/21118603_6425301.jpg') }}" alt="My Image">

      </div>
    </section>

    <!-- About Section -->
    <section class="about-section" id="about-section">
      <div class="about-right">
        <!-- About Image -->
        <img src="{{ url_for('static', filename='images/3811712.jpg') }}" alt="My Image">

      </div>
      <div class="about-left">
        <h2>About the Project</h2>
        <p>It is a demo project to understand ml model and implementation of different machine learning algorithms and their propensity scores also demonstrate how to predict propensity to buy using a well known bank marketing dataset. The data is related with direct marketing  of a  banking institution. The classification goal is to predict if the client will subscribe or buy banking products or not. 
          We started in a way to Understanding the business objective,Data collection and getting Data set details,we try to understand relationship of features with the outcome.EDA step is very important step in it,  cleaning the data and removing unwanted material out of your data like noise,duplicate records,inconsistancy,missing values,
          leading to step in Model building using different models of learning is partitioning the data and solve the Class Imbalance problem in data set we finalised the models based on accuracy ,precison,recall and f1 score values.We get all these values from Confusion Matrix.We are checking here the performance of the classification models.And also we check for the errors in the different models.We are comparing the actual value versus predicted values,Also we are checking cochens kappa scoreand finally deployed the model here.</p>
      </div>
      
    </section>

    <!-- Contact Section -->
    <section class="contact-section">
      <div class="contact-left">
        <h1>Contact</h1>
        <p>For Request and Suggestions Always feel Free to contact anytime </p>
      </div>
      <div class="contact-right">
        <!-- Contact Form -->
        <form action="https://formsubmit.co/c85d3cccaa9a81f2d38785456d717381 " method="POST">
          <h1>Contact</h1>
          <input type="text" placeholder="Name">
          <input type="email" placeholder="Email">
          <textarea placeholder="Message"></textarea>
          <button  class="button-30">Submit</button>
        </form>
      </div>
    </section>
    <a href="#home-section" class="back-to-top-button"><i class="fa-solid fa-arrow-up"></i></a>
    <!-- Footer -->
    <footer>
      <div class="container">
         <p>&copy; 2023 Customer Propensity API. All Rights Reserved.</p>
      </div>
   </footer>
   


</body>
</html>
